[submodule "res"]
    path = res
    branch = master
	url = https://github.com/gamesguru/ruma-lean-res.git
	update = none
[submodule "spec"]
	path = spec
	url = https://github.com/wombat-foundation/matrix-spec.git
	update = none
