/.lake
target/
.gemini/
.env
.tmp/
*.zip
*.tar.*
/*.txt
matrix-spec-txt/

# misc / top-level stuff
/*.log
/*.jsonl
/*.html

# paper
paper.aux
paper.log
paper.out
paper.pdf
# force add something if you want it
# res/
# python
__pycache__
